.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-color: var(--bs-gray-800);
  --bs-navbar-hover-color: var(--bs-gray-900);
  --bs-navbar-nav-link-padding-x: 0;
  --bs-navbar-active-color: var(--bs-gray-600);
}
