.gap {
  &-5 {
    gap: 2.625rem !important;
  }

  &-md-5 {
    @media screen and (min-width: $screen-md-min) {
      gap: 2.625rem !important;
    }
  }
}

.row-gap {
  &-4 {
    row-gap: 1.5rem !important;
  }
}
