.input-group {
  &.search {
    @include flex-box(center);
    background: var(--bs-gray-300);
    border-radius: var(--bs-border-radius-largest);
  }

  .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0.5rem 1rem 0.5rem 2.75rem;

    &::placeholder {
      color: var(--bs-gray-800);
    }
  }

  .icon {
    color: var(--bs-gray-800);
    left: 0.75rem;
    position: absolute;
  }
}
