.nav {
  --bs-nav-pills-link-active-bg: var(--bs-yellow);
  --bs-nav-link-hover-color: var(--bs-yellow);
  --bs-link-color: var(--bs-gray-800);
  --bs-nav-link-font-weight: var(--bs-font-weight-bold);
  --bs-nav-pills-border-radius: var(--bs-border-radius-middle);
}
