.dropdown {
  &-toggle {
    @include flex-box(center);
    border: none;
    min-width: 4.75rem;

    &:after {
      content: none;
    }

    &.show {
      svg {
        transform: rotate(-180deg);
      }
    }

    svg {
      @include boxSize(1.5rem);
    }
  }
}
